@import 'tailwindcss';

@layer base {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@theme {
  --color-purple1: #4c566a;
  --color-purple2: #434c5e;
  --color-purple3: #4c566a63;

  --color-white: #f5f5f5;

  --color-background1: #08090a;
  --color-background2: #0e0f10;
  --color-background3: #0a0b0c;
}

body,
#root {
  @apply w-full min-h-screen flex items-center justify-center flex-col bg-background1 text-white;
}

#root {
  @apply py-8;
}

select {
  @apply ml-2.5 text-center outline-none border-none;
}

option {
  @apply text-black;
}

dialog::backdrop {
  @apply bg-black backdrop-blur-xs;
}

@keyframes slide-in-from-top {
  0% {
    z-index: -2;
  }
  100% {
    z-index: 3;
  }
}
